.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4px);
    align-items: center;
    justify-content: center;
    color: white;
}

.imageContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.imageContainer img {
    width: 100vw;
    height: calc(100vh - 4px);
}

.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    padding: 10px;
    border-radius: 15px;
    z-index: 10;
}

.container h1 {
    font-size: 40px;
}

.container form {
    margin: 20px;
}

.container input {
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 24px;
    margin: 10px;
    padding: 5px;
}

.container button {
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.15s ease 0s;
    background-color: #535353;
}

.container button:hover {
    background-color: #1c1c1c;
}

.subButton button {
    font-size: 18px;
    font-weight: 600;
    background-color: gold;
    color: #1c1c1c;
}

.subButton button:hover {
    background-color: #1c1c1c;
    color: white;
}

.formInput {
    border-radius: 5px;
}

.error {
    color: #ff006a;
}

.formCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backLinkContainer {
    position: absolute;
    top: 10px;
    left: 20px;

}

.backLinkContainer a {
    text-decoration: none;
}

.backLink {
    font-size: 48px;
    color: white;
    transition: all 0.15s ease 0s;
}

.backLink:hover {
    font-size: 60px;
    color: gold;
}